body{
    margin-left: -5px;
}

.header{
    display: inline-block;
    background: white;
    height: 60px;
   
    width: 100%;
   
    margin-left: 3.5px;
    
    position: sticky;
    
    top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    z-index: 2 ;
  
}

#logo ~ div{
    margin-right: 50px;
    margin-top:-15px ;
     float: right;
}

#logo{
    top: 15%;
    left: 10px;
    margin-right: 20px;
    position: relative;
}

.bordered{
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 10px;
    position: relative;
    top: -10px;
}

.imagecontainer{
    height: 820px;
    
    display: flex;
}

.imagecontainer img{
    
   height: 800px;
   width: 100%;
    position: absolute;
}

.imagetext{
    position: absolute;
    top:250px;
    left: 52%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size:  60px;
    width: 500px;
    text-overflow: initial;
    text-align: right;

}

#imagetextdescription{
    top: 450px;
    left: 32%;
    font-weight: 300;
    width: 900px;
}

.contentcontainer{
    display:grid;
    grid-gap:20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 450px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    position: relative;
}



.contentcontainer img{
    position: relative;
    height: 200px;
    width: 200px;
    left: 30%;
    top: 50px;

}

.contentcontainer .texttitle{
    
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 30px;
}

.contentcontainer .textdescription{
    position: relative;
    width: 550px;
    text-overflow: initial;
    text-align: justify;
    font-size: 20px;
    top: 60px;
    text-align: center;
    margin-left: 15px;
    font-weight: 200;
}

.graphiccontainer{
    
    display: grid;
    grid-template-columns: 350px auto auto 350px;
    grid-template-rows: 150px 230px 230px;
    grid-gap: 50px;
    
    
}

.graphiccontainer img{
    position: absolute;
    height: 780px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#rowcontainer01{
    grid-area: 1 / 1 / 1 / span 4;
    z-index: 1;
    color:white;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
    font-weight: 200;
    
    

    
}



#rowcontainer02row2column1{
    grid-area: 2 / 2 / 2 / 2;
    background: white;
    z-index: 1;
    border-radius: 4px;
    
}

#rowcontainer02row2column2{
    grid-area: 2 / 3 / 2 / 3;
    background: white;
    z-index: 1;
    border-radius: 4px;
}

#rowcontainer02row3column1{
    grid-area: 3 / 2 / 3 / 2;
    background: white;
    z-index: 1;
    border-radius: 4px;
}

#rowcontainer02row3column2{
    grid-area: 3 / 3 / 3 / 3;
    background: white;
    z-index: 1;
    border-radius: 8px;
}

.rowcontainer2{
    color: #3584A7;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    padding: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.rowcontainer2 .text{
    font-size: 25px;
    color: #6c757d;
    font-weight: 100;
    text-align: center;
}

.campusimagecontainer{
    display: grid;
    grid-template-columns: 250px auto auto 250px;
    grid-template-rows: 250px 500px;
    height: 900px;
    width: 100%;
    
    grid-gap:50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#campuscontainer1{
    grid-area: 1 / 1 / 1 / span 4 ;
   
    text-align: center;
}

#campuscontainer1 > .title{
    margin-top: 10px;
    font-size: 60px;
    font-weight: 300;
}

#campuscontainer1 > .description{
    font-size: 25px;
    width: 80%;
    text-overflow: initial;
    margin-top: 15px;
    margin-left: 10%;
    text-align: center;
    font-weight: 200;
}



#campusimgrow2column2{
    grid-area: 2 / 2 / 2 / 2;
    
    
}

#campusimgrow2column3{
    grid-area: 2 / 3 / 2 / 3;
    
   
}

#campusimgrow2column2 img{
    height: 500px;
    width: 590px;
    border: 2px solid grey;
}

#campusimgrow2column3 img{
    height: 500px;
    width: 590px;
    border: 2px solid grey;
}

.campusrowcontainer2{
    margin-top: -80px;
}

.campusrowcontainer2 .textdescription{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.coursecontainer{
    display: grid;
    grid-template-rows: 150px 375px 375px;
    grid-template-columns:298px auto auto 298px;
    grid-gap:25px;
    background: #f8f9fa;
    height: 1000px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


#coursecontainerrow1{
    grid-area: 1 / 1 / 1/ span 4;
    font-family: 100;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}

#coursecontainerrow2column1{
    grid-area: 2/2/2/2;
    box-shadow: 10px 10px 8px #888888;
    
}

#coursecontainerrow2column2{
    grid-area: 2/3/2/3;
    
    box-shadow: 10px 10px 8px #888888;
}

#coursecontainerrow3column1{
    grid-area: 3/2/3/2;
    
    box-shadow: 10px 10px 8px #888888;
}

#coursecontainerrow3column2{
    grid-area: 3/3/3/3;
    
    box-shadow: 10px 10px 8px #888888;
}

/* .coursedeveloper{

} */

.developercontainer{
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px 90px;
    display: grid;
    grid-gap: 5px;
    position: relative;
    font-size: 20px;
    font-weight: 300;

}


.item1{
    grid-area: 1/1/1/span 2;
}
.item2{
    grid-area: 2/1/2/1;
    
}
.item3{
    grid-area: 2/2/2/2;
    
}
.item4{
    grid-area: 3/1/3/1;
    
}
.item5{
    grid-area: 3/2/3/2;
    
}
.item6{
    grid-area: 4/1/4/span 2;
    border-top: 1px solid grey;
    
}

.item1 ~ div{
    padding-top: 15px;
    text-align: center;
}

.one{
    height: 70px;
    width: 200px;
    background: grey ;
    border-radius: 20px;
    font-size: 25px;    
    float: right;
    margin-right: 20px;
    
   
}

.developercontainer .text{
    background-image: url("https://i.ibb.co/qdX60qJ/Screenshot-from-2019-11-02-15-38-56.png");
    height: 78px;
    font-size: 35px;
    text-align: center;
    color: white;
    border-radius: 8px;
    
   
}

.hiringcontainer{
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: auto auto auto auto auto auto ;
}


#hiringcontainerrow1{
    grid-area: 1/1/1/span 6;
    font-size: 45px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 55px;
    font-weight: 300;
    
}

#hiringimage1{
    grid-area: 2/1/2/1;
}
#hiringimage2{
    grid-area: 2/2/2/2;
}
#hiringimage3{
    grid-area: 2/3/2/3;
}
#hiringimage4{
    grid-area: 2/4/2/4;
}
#hiringimage5{
    grid-area: 2/5/2/5;
}
#hiringimage6{
    grid-area: 2/6/2/6;
}

.paymentscontainer{
    height: 700px;
    width: 100%;
    background-image: url("https://i.ibb.co/CBZcWVS/Screenshot-from-2019-11-02-10-41-53.png");
    display: grid;
    grid-template-rows: 120px 460px 120px;
    grid-template-columns: 300px auto auto 300px;
    grid-gap: 25px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

#paymentitem1{
    grid-area: 1/1/1/span 4 ;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    color: white;
    margin-top: 40px;
    
}

#paymentitem2{
    grid-area: 2/2/2/2;
    background: white;
    border-radius: 6px;
}

#paymentitem3{
    grid-area: 2/3/2/3;
    background: white;
    border-radius: 6px;
}

#paymentitem4{
    grid-area: 3/1/3/span 4;
}

#buttonmore{
    height: 45px;
    width: 100px;
    margin-left: 47%;
    font-size: 20px;
    border-radius: 8px;
    background: #3584A7;
    border: 2px  solid white;
   
}

.paymentdatacontainer{
    display: grid;
    
    grid-template-rows: 100px 50px  50px 60px 90px 100px;
    grid-template-columns: auto;
    grid-gap: 2px;
    text-align: center;
    font-size: 35px;
}

.d1{
    margin-top: 10px;
    font-weight: 300;
}

.datacontainer1{
    grid-area: 1/1/1/1;
    border-bottom: 1px solid grey;
    margin-top: 30px;
    font-weight: 100;
    
    
   
}
.datacontainer2{
    grid-area: 2/1/2/1;
    font-size: 30px;
   
   
}
.datacontainer3{
    grid-area: 3/1/3/1;
    
   
}
.datacontainer4{
    grid-area: 4/1/4/1;
    font-size: 30px;
   
}
.datacontainer5{
    grid-area: 5/1/5/1;
    font-size: 40px;
    font-weight: 500;
    color: #3584A7;
    
   
}
.datacontainer6{
    grid-area: 6/1/6/1;
    font-size: 40px;
    color: orangered;
    
    
   
}

#paymentitem3 .datacontainer6{
    font-size: 25px;
    width: 430px;
    text-overflow: initial;
    margin-left: 50px;
    color: black;
}



.admissioncontainer{
    height: 980px;
    widows: 100%;
    display: grid;
    grid-template-rows: 300px 300px 80px 300px ;
    grid-template-columns: 500px auto auto auto 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


#addmissionitem1{
    grid-area: 1/1/1/span 5;
    text-align: center;
    font-size: 20px;
    width:60%;
    margin-left: 20%;
}

#addmissionitem1 > div{
    font-size: 35px ;
    margin-top: 40px;
}

#addmissionitem2{
    grid-area: 2/2/2/2;
}
#addmissionitem3{
    grid-area: 2/3/2/3;
}
#addmissionitem4{
    grid-area: 2/4/2/4;
}
#addmissionitem5{
    grid-area: 3/1/3/span 5;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 15px;
}
#addmissionitem6{
    grid-area: 4/2/4/2;
}
#addmissionitem7{
    grid-area: 4/3/4/3;
}
#addmissionitem8{
    grid-area: 4/4/4/4;
}

.circimg{
    text-align: center;
}

#addmissionitem2,#addmissionitem3,#addmissionitem4{
    border-bottom: 1px solid grey;
}

 .addtitle{
    font-size: 25px;
    font-weight: 200;
    margin-top: 15px;
}
 .adddescription{
    font-size: 30px;
    font-weight: 350;
    margin-top: 15px;
}

.applynow{
    height: 45px;
    width: 200px;
    margin-left: 47%;
    font-size: 20px;
    border-radius: 35px;
    background: orangered;
    border: 2px  solid white;
    text-align: center;
    margin-left: 10%;
    margin-top: 100%;
}


.footer{
 
   margin-left: 15%;
   height: 30px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
    
}
