<!DOCTYPE html>

<head>
    <title>Flex 3</title>
    <style>
            .container{
                display: flex;
                

            }

            .squares{
                height: 150px;
                width: 150px;
                background-color: green;
                margin: 20px;
                border-radius: 5px;
            }
            
            body{
                margin: 100px 20%;
            }

           
    </style>
</head>

<body>

    <div class="container">
        <div class="squares"></div>
    </div>


    <div class="container">
            <div class="squares"></div>
            <div class="squares"></div> 
    </div>
    <div class="container">
            <div class="squares"></div>
            <div class="squares"></div>
            <div class="squares"></div>  
    </div>

    <div class="container">
            <div class="squares"></div>
            <div class="squares"></div>
            <div class="squares"></div>  
            <div class="squares"></div> 
    </div>
    





</body>

</html>