<!DOCTYPE html>

<head>
    <title>Flex 1</title>
    <style>
            .container{
                display: flex;
                

            }

            .rectangles{
                height: 400px;
                width: 150px;
                background-color: green;
                margin: 10px;
            }
            
            body{
                margin: 100px 30%;
            }
    </style>
</head>

<body>

    <div class="container">
        <div class="rectangles"></div>
        <div class="rectangles"></div>
        <div class="rectangles"></div>
        <div class="rectangles"></div>
    </div>
    





</body>

</html>