<!DOCTYPE html>
<head>
    <title>
        Grid 1
    </title>
    <style>

        .container{
            display: grid;
            grid-gap: 25px;
            margin: 100px 25%;
            background:white;
            grid-template-columns: 150px 150px 150px 150px;
            grid-template-rows: 150px 150px;
            
           
        }

        .container div{
            background: green;
            border-radius: 6px;

        }
    
    </style>
</head>
<body>
    
    <div class="container">

        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        
           
    </div>





</body>

</html>